*{
    font-family: 'Cormorant Garamond', 'serif';
    pointer-events: none;
}

.Canvas{
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.Circle {
    border-radius: 50%;
}

.Container {
    height: 40vw;
    width: 40vw;
    background-color: #222222;
}

#MiddleCanvasCarousel > .Item {
    position: absolute;
    height: 10vw;
    width: 10vw;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#MiddleCanvasCarousel {
    animation: spin 60s infinite linear;
}

#TopCanvasCarousel {
    height: 60vw;
    width: 60vw;
    animation: backspin 60s infinite linear;
}

#TopCanvasCarousel > .Item {
    position: absolute;
    height: 15vw;
    width: 15vw;
    background-color: blueviolet;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.Item {
    overflow: hidden;
    pointer-events: all;
}

.Item > img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#MiddleCanvasCarousel img {
    animation: backspin 60s infinite linear;
}

#TopCanvasCarousel img {
    animation: spin 60s infinite linear;
}

@keyframes spin {
    from {transform: rotate(0deg)}
    to {transform: rotate(360deg)}
}

@keyframes backspin {
    from {transform: rotate(0deg)}
    to {transform: rotate(-360deg)}
}

.Item .LearnMore{
    height: 100%;
    width: 100%;
    background-color: #FFDDFF;
    z-index: 2;
    transition: 0.5s ease-in-out;
    clip-path: circle(0% at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

.Item:hover .LearnMore{
    height: 100%;
    width: 100%;
    background-color: #FFDDFF;
    z-index: 2;
    transition: 0.5s ease-in-out;
    clip-path: circle(50% at 50% 50%);
    display: flex;
    align-items: center;
    justify-content: center;
}

#app{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    transition-duration: 1s;
    overflow: hidden;
}

.PreProjectText{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    transition-duration: 1s;
    transition-timing-function: ease-in-out;
}

.pre{
    transform: translate(-50%, 150%) !important;
    opacity: 0;
}

.post{
    transform: translate(-50%, -250%) !important;
    opacity: 0;
}

.hidden{
    opacity: 0;
}